/* *{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
} */

.card{
    width: 400px;
    border: 2px solid black;
    border-radius: 25px;
    padding: 10px;
    margin: 10px;
}

a{
    color: brown;
    text-decoration: none;
    font-weight: bold;
}

.pets{
    display: flex;
    justify-content: space-evenly;
}

.pets img{
    width: 100%;
    border-radius: 25px;
}

h3{
    line-height: 2;
}
span{
    color: #9d6f24;
}

h4{
    text-align: right;
    color: #3c787e;
}

@media (max-width: 375px){
    .pets{
        flex-wrap: wrap;
    }
}