/*Universal Selector*/
*{
    font-family: 'Courier New', Courier, monospace;
}

/*Element Selector*/
h1{
    color: red;
}
h3{
    color: purple;
}

/*Id Selector*/
#login{
    background-color: #b92b27;
    color : #fff;
}

#signup{
    background-color: #b92b27;
    color : #fff;
}

/*Class Selector*/
.upvote{
    background-color: rgb(0,255,0);
    color: rgb(0,0,0);
}

/* Descendant Selector */
.desc{
background-color: pink;
color: black; 
}

nav a{
 color: purple;
 text-decoration: none;
}

/* Adjecent sibling combinator */
p + h3{
    text-decoration: underline;
}

.upvote + button{
    background-color: cornflowerblue;
}

/* Child combinator */
div > input{
    background-color: darksalmon;
    color: #191818 ;
}

/* Attribute Selector */
input[type = "text"]{
    color: red;
}

input[type="password"]{
    color: greenyellow;
}


/* Pseudo  Class */
/* 1. hover */
button:hover{
    background-color: black;
    color: white;
}

h3:hover{
    text-decoration: none;
}

/* 2. active (after click) */
button:active{
background-color: palevioletred;
}

p:active{
    font-weight: 600;
    color: green;
}

/* 3. checked */

input[type="radio"]:checked + label{
 color: red;
 font-weight: bold;
}

/* 4. :nth-of-type()*/
.post:nth-of-type(2){
    background-color: chocolate;
    color: white;
}

/*Psuedo Elements*/
/* 1. first-letter */
h1::first-letter{
color: rgb(34, 0, 255);
}

/* 2. first line */
.desc #para::first-line{
    color: red;
}

/* 3. selection line */
.desc p::selection{
background-color:green;
}
