* {
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
}

.main-box{
    background-image: url("photo.jpg");
    height: 100vh;
    background-size: cover;
}

.btn-one i{
    color: #fff;
    font-size: 30px;
    font-weight: 700;
    position: absolute;
    left: 16px;
    line-height: 60px;
    transform: all 0.3s linear;
}

.sidebar-menu{
    position: fixed;
    left: -300px;
    height: 100vh;
    background-color: #fff;
    width: 300px;
    background-color: rgba(255, 255, 255, 0.1);
    box-shadow: 0 0 6px rgba(255, 255, 255, 0.5);
    cursor: pointer;
    transition: all 0.3s linear;
}

.sidebar-menu .logo{
    position: absolute;
    width: 100%;
    height: 60px;
    line-height: 60px;
    box-shadow: 0 0 4px rgba(255, 255, 255, 0.5);
}

.sidebar-menu .logo a{
    font-size: 20px;
    color: #fff;
    text-decoration: none;
    position: absolute;
    left: 50px;
    font-family: 'Silkscreen', sans-serif;
}

.sidebar-menu .btn-two i{
    font-size: 25px;
    color: grey;
    position: absolute;
    left: 265px;
    line-height: 60px;
    /* opacity: 0; */
    cursor: pointer;
    transform: all 0.3s linear;
}

.sidebar-menu .menu{
    position: absolute;
    top: 70px;
    color: #fff;
    width: 100%;
    text-decoration: none;
}

.sidebar-menu .menu li{
    padding: 14px 20px;
    margin-top: 6px;
}

.menu li i,a{
    font-size: 20px;
    text-decoration: none;
    color: #fff;
} 

.menu li i{
    margin-right: 8px;
}

.social-media{
    position: absolute;
    left: 25%;
    bottom: 50px;
}

.social-media i{
    opacity: 0.5;
    color: #fff;
    padding: 0 5px;
}

#check{
    display: none;
}

.sidebar-menu .menu li:hover{
    box-shadow: 0 0 4px rgba(255, 255, 255, 0.5);
}

.sidebar-menu .social-media i:hover{
 font-size: 20px;
 opacity: 1;
 scale: 1.25;
}

.main-box .btn-one i:hover{
    font-size: 35px;
}

.sidebar-menu .btn-two i:hover{
    font-size: 30px;
}

/* sibling(~)*/
#check:checked ~.sidebar-menu{
    left: 0;
}

#check:checked ~ .btn-one i{
    opacity: 0;
}