.box{
    height: 100px;
    width: 300px;
    background-color: pink;

    /* Animation 01*/
    animation-name: fontAnimation;
    animation-duration: 2s;
    animation-timing-function: ease;
    animation-delay: 0.2s;
    animation-iteration-count: 3;
    animation-direction: reverse;
    
    /* Animation 02*/
    animation-name: colorAnimation;
    animation-duration: 2s;
    animation-timing-function: ease-in;
    animation-delay: 0.1s;
    animation-iteration-count: infinity;
    animation-direction: normal;

    /* Animation 03*/
    /* animation-name: widthAnimation;
    animation-duration: 3s;
    animation-timing-function: ease-in-out;
    animation-delay: 0.1s;
    animation-iteration-count: 4;
    animation-direction: normal; */

    animation: widthAnimation 1s ease-in-out 0.2s infinity normal;

    animation: multipleAnimation 3s ease 0.1s 3 alternate-reverse;

    animation: colchange 3s ease 0.2s infinite normal;
}

@keyframes fontAnimation{
    from{
        font-size:20px;
    }
    to{
        font-size:40px;
    }
}

@keyframes colorAnimation{
    from{
        background-color: rgb(223, 140, 154);
    }
    to{
        background-color: rgb(29, 191, 245);
    }
}

@keyframes widthAnimation{
    from{
        width: 5px;
    }
    to{
        width: 240px;
    }
}

@keyframes multipleAnimation {
    from{
        background-color: rgb(223, 140, 154);
        width: 5px;
    }
    to{
        background-color: rgb(29, 191, 245);
        width: 240px;
    }
}

@keyframes colchange{
    0%{
        background-color: palegreen;
    }
    50%{
        background-color: aquamarine;
    }
    100%{
        color: #fff;
        background-color:coral;
    }
}