 h1{
    background-color: yellow;
    border: 2px solid black;
 }

 @media (width:400px){
    h1{
        background-color: red;
        color:#fff; 
    }

    div{
        background-color: pink;
        height: 100px;
        width: 200px;
    }
 }

 @media (min-width:700px){
    h1{
        background-color: greenyellow;
    }
 }

 @media (max-width : 200px){
    h1{
        background-color: aquamarine;
    }
 }

 @media (min-width: 200px) and (max-width:300px){
    h1{
        background-color: rgb(47, 0, 255);
    }
 }

 @media (orientation:landscape){
    h1{
        background-color: burlywood;
    }
 }