.container {
    width: 600px;
    height: 300px;
    background-color: yellow;
    display: grid;
    /* grid-gap: 20px;
    grid-row-gap: 21px; */
    /* row-gap:50px;
     column-gap: 20px; */
    /* grid-column-gap: 120px; */
    /* grid-template-rows: 160px 60px 60px; */
    /* grid-template-columns: 100px 200px 200px; */
    /* grid-template-columns: auto auto auto; */
    /* grid-template-rows: repeat(2, 1fr); */
    grid-template-rows: 1fr 1fr 1fr;
    grid-template-columns: repeat(3, 1fr);
    /* grid-template-columns: 1fr 1fr 1fr; */

    grid-gap: 10px;
    /* justify-items:start; */
    /* justify-items: end; */
    
    /* justify-items: center;
    align-items: center; */
    place-items: center;
}

.item {
    width: 100px;
    height: 50px;
    background-color: greenyellow;
    border: 2px solid black;
    text-align: center;
}

.one {
    /* grid-column-start: 1;
    grid-column-end: 3; */
    /* grid-column:1/3; */
    /* grid-column: 1/span 2; */

    /* align-self: end; */
    place-self:end;
}

.two {
    /* grid-row-start: 1;
    grid-row-end: 3; */
    /* grid-row: 1/3; */
    /* grid-row:1/span 3; */
    justify-self: center;
}