body{
    text-align: center;
    font-family: Georgia, 'Times New Roman', Times, serif;
}
h1{
    color: red;
}
h1 span{
    text-decoration: underline;
}
h3{
    color: black;
}
p{
color: #964B00;
line-height: 30px;
}

h4 a{
color: rgb(0, 255, 0);
text-decoration: none;
}

button{
background-color: white;
color: blueviolet;
}

textarea{
color: #000000;
}
