div{
    height: 100px;
    width: 100px;
    background-color: green;
    text-align:center;
    border: 3px solid black;
    display: inline-block;
    margin: 20px;
    color:#210f0f;
}

#static{
    background-color: yellow;
    position: static;
    /* if position is static then top, bottom, right, left will not work  */
    top: 100px;
    left: 100px;
}

#relative{
    background-color: yellow;
    position: relative;
    top: 100px;
    left: 100px;
}

#absolute{
    background-color: yellow;
    position: absolute;
    top: 100px;
    left: 100px;
}

#fixed{
    background-color: yellow;
    position: fixed;
    top: 100px;
    left: 100px;
}

#sticky{
    background-color: yellow;
    position: sticky;
    top: 100px;
    left: 100px;
}