#fir{
    /* Transition */
    transition: 1s;
    /* rgba(r,g,b,alpha)=>(alpha channel) */
     /* alpha opacity applicable for colors */
    background-color:rgba(255,0,0,0.8);
    height: 200px;
    width: 200px;
    margin-bottom: 20px;
    color: #fff;
}

#fir:hover{
    background-color: black;
    border-radius: 50%;
}

#sec{
    /* transition between 2states of an element=>2sec */
    /* transition: 1.5s; */
    transition-duration: 1.5s;
    transition-delay: 1s;
    /* opacity applicable for elements */
    opacity: 0.5;
    background-color: red;
    height: 200px;
    width: 200px;
}

#sec:hover{
    background-color: black;
    border-radius: 50%;
}