div{
    height: 200px;
    width: 500px;
    background-color: pink;
    /* border-width:5px;
    border-style: solid;
    border-color: black; */
    
    /* Border shorthand */
    border: 5px solid rgb(163, 31, 31);

    /* border-top-color: blue;
    border-top-style: dashed; */

    border-top: 5px dashed blue;

    border-top-left-radius: 25px;
    border-bottom-right-radius: 25px;

    padding-top: 20px;
    padding-left: 30px;

    /* margin: 20px; */
     /* margin-top: 20px; */
    margin:20px 10px 30px 20px;
}

h1{
    /* border-width: 2px;
    border-style: dotted;
    border-color: green; */
    /* Border shorthand */
    border: 2px dotted green;
}

button{
    border: 2px solid black;
    border-radius: 10px;
    padding-left: 25px;
    padding-right: 25px;
}